.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

section h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    z-index: 100;
}